.dark body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: black;
  margin: 1rem;
}

.dark label {
  color: white;
}

#search {
  width: min(24rem, 100vw);
}

.map {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
}
