.dark body {
  background-color: black;
}

#search {
  width: calc(100% - 1rem);
}

#map {
  position: absolute;
  top: 4rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border: 1rem solid white;
}
